{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4 text-black-50">all Authors</h1>
        <div class="row">
            {% for author in authors %}
                <div class="col-md-8">
                <div class="card-body">
                        <h5 class="card-title">{{ author.name }}</h5>
                        <p class="card-text">{{ author.bio }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}